# Используется Android gitignore-шаблон: https://github.com/github/gitignore/blob/HEAD/Android.gitignore

# Файлы собранного приложения
*.apk
*.aar
*.ap_
*.aab

# Файлы ART/Dalvik VM
*.dex

# Файлы Java-классов
*.class

# Сгенерированные файлы
bin/
gen/
out/
#  Раскомментируйте следующую строку, если она нужна и в приложении нет файлов типа сборки release
# release/

# Файлы Gradle
.gradle/
build/

# Локальный конфигурационный файл (путь SDK и т.п.)
local.properties

# Папка Proguard, сгенерированная Eclipse
proguard/

# Лог-файлы
*.log

# Временные файлы редактора навигации Android Studio
.navigation/

# Папка captures Android Studio
captures/

# IntelliJ
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
# Android Studio 3 в файле .gitignore.
.idea/caches
.idea/modules.xml
# Закомментируйте следующую строку, если важно сохранить позиции элементов в Navigation Editor
.idea/navEditor.xml

# Файлы keystore
# Раскомментируйте следующие строки, если не хотите коммитить файлы keystore.
#*.jks
#*.keystore

# Папка внешней native-сборки, генерируемая Android Studio 2.2 и новее
.externalNativeBuild
.cxx/

# Google Services (например, API или Firebase)
# google-services.json

# Freeline
freeline.py
freeline/
freeline_project_description.json

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Version control
vcs.xml

# lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
# lint/reports/

# Android Profiling
*.hprof

# Плагины Cordova для Capacitor
capacitor-cordova-android-plugins

# Скопированные web-ассеты
app/src/main/assets/public

# Сгенерированные конфигурационные файлы
app/src/main/assets/capacitor.config.json
app/src/main/assets/capacitor.plugins.json
app/src/main/res/xml/config.xml
