App/build
App/Pods
App/output
App/App/public
DerivedData
xcuserdata

# Плагины Cordova для Capacitor
capacitor-cordova-ios-plugins

# Сгенерированные конфигурационные файлы
App/App/capacitor.config.json
App/App/config.xml
